
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beer Photos</title>
    <meta name="description" content="Collection of Beer Bottle Photos">
    <meta name="author" content="Sam Cavengh">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="beer.css" rel="stylesheet">

    <script src="lib/jquery-1.7.1.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="beer.js"></script>
  </head>

  <body id="backbone-beer-app">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Sam's Beer Photos</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Beer, Beer, Beer!</h1>
        <p>I enjoy beer and I always wanted to collection something.  Photos of beer bottles seemed like a good fit, 
           it takes up no space and was easy to get started.</p>
        <p><a class="btn primary large">Start Slide Show &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div id="gateway-content" class="row">

      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

    <!-- Templates -->

    <script type="text/template" id="photo-gateway-template">
        <div class="span5">
          <h2><%= photo.get('title') %></h2>
          <a href="http://www.flickr.com/photos/cavenagh/<%= photo.get('id') %>">
            <img class="thumbnail" src="<%= photo.get('url_s') %>" alt="<%- photo.get('title') %>"/>
          </a>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </script>


  </body>
</html>
