<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beer Photos</title>
    <meta name="description" content="Collection of Beer Bottle Photos">
    <meta name="author" content="Sam Cavengh">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="lib/bootstrap.css" rel="stylesheet">
    <link href="lib/spinner.css" rel="stylesheet">
    <link href="beer.css" rel="stylesheet">

    <script src="lib/jquery-1.7.1.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/bootstrap-twipsy.js"></script>
    <script src="lib/bootstrap-popover.js"></script>
    <script src="beer.js"></script>
  </head>

  <body id="backbone-beer-app">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Sam's Beer Photos</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Beer, Beer, Beer!</h1>
        <p>I enjoy beer and I always wanted to collection something.  Photos of beer bottles seemed like a good fit, 
           it takes up no space and was easy to get started.</p>
        <p><a class="btn primary large">Start Slide Show &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div id="gateway-content">
        <ul id="gateway-photos" class="media-grid">
        </ul>
      </div>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Templates -->

    <script type="text/template" id="photo-gateway-template">
        <li>
          <div class="gateway-photo-container">
            <a href="http://www.flickr.com/photos/cavenagh/<%= photo.get('id') %>" 
              title="<%- photo.get('title') %>" 
              rel="photoPopover"
              data-photo-id="<%= photo.id %>"
              data-placement="<%= (index + 1) % 4 ? 'right' : 'left' %>">
              <img class="thumbnail" width="180" src="<%= photo.get('url_s') %>" alt="<%- photo.get('title') %>"/>
            </a>
          </div>
        </li>
    </script>

    <script type="text/template" id="photo-popover-content">
      <% if (photo.get('brewer')) { %>
        <p>
          <strong>Brewer:</strong>  <%- photo.get('brewer') %>
        </p>
      <% } %>
      <% if (photo.get('beer_type')) { %>
        <p>
          <strong>Type:</strong>  <%- photo.get('beer_type') %>
        </p>
      <% } %>
      <p>
        <strong>Description:</strong> <%- photo.get('description') ? photo.get('description') : '-' %>
      </p>
      <p>
        <strong>Added:</strong>  <%- photo.get('taken').toLocaleTimeString() %> <%- photo.get('taken').toLocaleDateString() %>
      </p>
      <% if (photo.get('location')) { %>
        <p>
          <strong>Location:</strong>  <%- photo.get('location') %>
        </p>
      <% } %>
    </script>

    <script type="text/template" id="spinner-template">
      <div class="centre-spinner" id="<%= spinnerId %>">
        <div class="spinner" style="width: 34px; height: 34px">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
          <div class="bar5"></div>
          <div class="bar6"></div>
          <div class="bar7"></div>
          <div class="bar8"></div>
          <div class="bar9"></div>
          <div class="bar10"></div>
          <div class="bar11"></div>
          <div class="bar12"></div>
        </div>
      </div>
    </script>


  </body>
</html>
